.app-container {
  padding-top: 5em;
  overflow-y: hidden;
}

.city-module-container {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.city-module-container-hide {
  display: none;
}

.city-module {
  width: 70%;
  max-width: 35em;
  margin: 10em auto 0 auto;
  height: 50%;
  background: #fff;
  border-radius: 15px;
  padding: 1em;
}

.city-name, .city-temp {
  text-align: center;
}

.city-name {
  font-size: 2em;
}

.city-temp {
  font-size: 5em;
}

.city-metrics {
  width: 25em;
  margin: 1em auto 0 auto;
}

.city-metrics-col-1, .city-metrics-col-2 {
  display: inline-block;
  width: 12em;
  vertical-align: top;
}

.city-metrics-col-2 {
  margin-left: 1em;
}

.city-metrics p {
  font-size: 1.25em;
}

.city-metrics span {
  /*font-weight: bold;*/
}

.city-button-container {
  width: 14em;
  margin: 1em auto 0 auto;
}

.btn-delete {
  float: right;
  background: #E06C75;
  color: #fff;
}

h1, h4 {
  text-align: center;
}

.input-group {
  margin: 20px 0px;
}

.city-row {
  cursor: pointer;
}

td, th {
  vertical-align: middle !important;
  text-align: center !important;
  width: 180px;
}

td:first-of-type {
  height: 200px;
  width: 180px;
}

.city-stats-container div {
  text-align: left;
}

.city-stats-container div:first-child {
  float: none;
  display: block;
}

.city-stats-container div:nth-child(2) {
  float: none;
  display: block;
}

@media only screen and (min-width: 1200px) {
  .city-stats-container div:first-child {
    float: left;
  }

  .city-stats-container div:nth-child(2) {
    float: right;
  }
}
